body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Source Code Pro";

  width: 800px;
  margin: 0 auto;
}

header {
  margin-bottom: 50px;
}

/* Links */
a, a:hover, a::after, a:visited {
  color: #fff;
  text-decoration: none;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
}

a.block {
  display: block;
  text-decoration: none;
}

/* Main Nav */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.main-nav ul li {
  margin-right: 20px;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 20px;
}

/* Chapter Summary */
ul.chapters {
  list-style-type: none;
  margin: 0;
  padding: 0 !important;
}

.chapter-summary {
  border: 1px solid #282c34;
  list-style-type: none;
  margin: 0;
  padding: 5px 20px;
  margin-top: 20px;
}

.story-summary {
  padding: 20px;
}

.story-title {
  text-align: center;
  margin-bottom: 50px;
}