:root {
  --fg-element: #fff;
}

body * {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #efefef;
  color: #141414;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

/* .cut-out {
  display: flex;
  margin-left: -35px;
  margin-right: -35px;
}

.cut {
  width: 25px;
  height: 25px;
  background-color: #efefef;
  transform: rotate(46deg);
} */

.triangle-clipped {
  height: 25px;
  background-color: var(--fg-element);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% - 15px) 50%,
    100% 100%,
    0% 100%,
    15px 50%
  );
}

.cut {
  width: 100px;
  height: 100px;
  -webkit-mask-image: radial-gradient(
    ellipse 54px 135px at 11px center,
    #0000 30px,
    #000 0
  );
}

.sep {
  flex-grow: 1;
}

.App {
  font-family: "Inter";
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  width: 90vw;
}

.story-wrapper {
  width: 40vw;
  margin: 0 auto;
}

header {
  margin-bottom: 50px;
}

/* Links */
a,
a:hover,
a::after,
a:visited {
  color: #000;
  text-decoration: none;
}

a.block {
  display: block;
  text-decoration: none;
}

/* Main Nav ---------------------------------- */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  margin-right: 20px;
  border: 2px solid #000;
  padding: 20px 30px;
  background-color: #fff;
}

.main-nav a.header-title {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2em;
}

/* ----------------------------------------------- */

/* Chapter Summary */
ul.chapters {
  list-style-type: none;
  margin: 0;
  padding: 0 !important;
}

.chapter-summary {
  border: 1px solid #282c34;
  list-style-type: none;
  margin: 0;
  padding: 5px 20px;
  margin-top: 20px;
}

.section1,
.section2,
.section3 {
  background-color: #fff;
  padding: 20px;
}

.section1 {
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
}

.section2 {
  margin-top: 0;
  margin-bottom: 0;
}

.section3 {
  margin-top: 0;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
}

.story-entry,
.fandom-entry {
  border-radius: 10px;
  margin-bottom: 50px;
  filter: drop-shadow(0px 10px 10px #dcdcdc);
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
}

.fandom-entry {
  font-size: 10px;
}

a.main-pairing-block {
  margin-right: 20px;
  font-size: 15px;
}

.story-entry .main-pairing {
  font-weight: bold;
  border: 2px solid #000;
}

.story-entry .accessory-pairing {
  border: 1px dashed #000;
}

.story-summary {
  padding: 10px 20px;
  /* margin: 10px -20px; */
  border-left: 10px solid #ffcf85;
  /* border-right: 5px solid #fff333; */
}

.story-title-block {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 15px;
}

.story-block-title {
  /* margin-top: 10px; */
  margin: 0;
}

.badges {
  display: flex;
}

.title-badge {
  border: 2px solid #000;
  padding: 0;
  padding: 2px;
  height: 22px;
  border-radius: 5px;
  margin: 0;
  margin-left: 10px;
}

.border {
  height: 30px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  border-radius: 0px 0px 10px 10px;
  margin-top: 20px;
  background-color: #b4bcae;
}

.badge-link :hover {
  background-color: #fff333;
}

.story-title {
  text-align: center;
  margin-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation ul {
  display: inline-flex;
  list-style-type: none;
}

.navigation ul li {
  margin: 0 10px;
}

.att-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.story-list {
  display: flex;
  margin-top: 20px;
}

.bar-right {
  border-right: 1px solid #000;
  padding-right: 20px;
}

.story-entry h3.att-headers {
  border-bottom: 1px solid #e8e8e8;
  margin: 0px 0px 10px 0px;
  padding-bottom: 5px;
  font-size: 15px;
}

.attributes {
  margin-bottom: 20px;
}

.att-list li {
  font-size: 12px;
  list-style-type: none;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #000;
}

.separator {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.p-10 {
  padding: 10px 0;
}
