body {
  margin: 0;
  background-color: #282c34;
  font-family: "Source Code Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation ul {
  display: inline-flex;
  list-style-type: none;
}

.navigation ul li {
  margin: 0 10px;
}