body {
  margin: 0;
  background-color: #efefef;
  color: #141414;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

.App {
  font-family: "Inter";
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  width: 90vw;
}

header {
  margin-bottom: 50px;
}

/* Links */
a,
a:hover,
a::after,
a:visited {
  color: #000;
  text-decoration: none;
}

a.block {
  display: block;
  text-decoration: none;
}

/* Main Nav ---------------------------------- */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  margin-right: 20px;
  border: 2px solid #000;
  padding: 20px 30px;
  background-color: #fff;
}

.main-nav a.header-title {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2em;
}

/* ----------------------------------------------- */

/* Chapter Summary */
ul.chapters {
  list-style-type: none;
  margin: 0;
  padding: 0 !important;
}

.chapter-summary {
  border: 1px solid #282c34;
  list-style-type: none;
  margin: 0;
  padding: 5px 20px;
  margin-top: 20px;
}

.story-entry {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}

a.main-pairing-block {
  margin-right: 20px;
}

.story-entry .main-pairing {
  font-weight: bold;
  border: 2px solid #000;
}

.story-entry .accessory-pairing {
  border: 1px dashed #000;
}

.story-summary {
  padding: 20px;
}

.story-title {
  text-align: center;
  margin-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation ul {
  display: inline-flex;
  list-style-type: none;
}

.navigation ul li {
  margin: 0 10px;
}

.att-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.att-list li {
  list-style-type: none;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #000;
}

.separator {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.p-10 {
  padding: 10px 0;
}
